:root {
  background-color: #f4f4f4; /* So it blends in with the other tabs */
}

#content {
  padding: 15px;
  line-height: 1.7;
}

#content > :not(:last-child) {
  display: block;
  margin-bottom: 20px;
}
